/* - - - - - - - - Global - - - - - - - - */
* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent; /* CHANGED BG TO PINK in html file bgcolor*/
}

.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

body {
	width: 80%;
	margin: auto;
	background-image: url(images/BG.png);
	background-position: top;
	background-size: cover;
	background-repeat: no-repeat;
}
.pink {
	color: #f9499e;
}
h1 {
	font-family: 'Roboto', sans-serif;
	font-size: 40px;
	font-weight: 400;
	color: #000000;
	opacity: 88%;
}
h2 {
	font-family: 'Roboto', sans-serif;
	font-size: 32px;
	font-weight: 400;
	color: #000000;
	opacity: 60%;
	margin-top: 40px;
	margin-bottom: 12px;
}
h3 {
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	font-weight: 300;
	color: #000000;
	opacity: 80%;
}
h4 {
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	margin-top: 10px;
	color: #000000;
	opacity: 76%;
} 
p {
	font-family: 'Raleway', sans-serif;
	color: #000000;
	opacity: 88%;
	margin-top: 10px;
	font-size: 18px;
}
li {
	font-family: 'Raleway', sans-serif;
	color: #000000;
	opacity: 88%;
	margin-top: 10px;
	font-size: 18px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* - - - - - - - - Nav - - - - - - - - */
.nav {
	display: flex;
	align-items: center;
	height: 100px;
}
.contactMe, .navIcon {
	flex: 1; 
}
.navtop {
	text-align: right;
	margin-top: 400px;
}
.navIcons a, .contactMe a, .contactMe img {
	display: inline-block;
	vertical-align: middle;
}
.navtop a {
	margin-left: 40px;
}
.contactMe a {
	color: #00000095;
	font-size: 2rem;
	text-decoration: none;
}
.contactMe img {
	max-height: 40px;
	margin-right: 10px;
}

/* - - - - - - - - Landing - - - - - - - - */
.landing {
	height: 100vh;
	position: relative;
}
.landingWrapper {
	display: flex;
	justify-content: space-between;
	margin-top: 40px;
}
ul {
	list-style: none;
	margin-top: 30px;
	line-height: 30px;
}
.landing {
	margin-top: 4em;
} 
.scroll {
	position: absolute;
	bottom: 180px;
	left: 0;
	right: 0;
	margin: auto;
}

/* - - - - - - - - Landing - - - - - - - - */
.skills {
	text-align: center;
	margin-bottom: 20em;
}
.skills p {
	margin-bottom: 30px;
}
.skills img {
	width: 40px;
	margin: 0 15px;
}


/* - - - - - - - - Project 1 - - - - - - - - */
.work {
	width: 100%;
	position: relative;
	margin-bottom: 20em;
}
.work > .workText {
	position: absolute;
	top: 85px;
}
.work > .workText > .underline {
	display: block;
	background-color: #bbbbbb;
	height: 3px;
	width: 61px;
	margin-top: 5px;
}
.work > .workImg {
	width: 85%;
	float: right;
	-webkit-box-shadow: 0px 3px 70px 8px rgba(23,30,36,0,06);
	-moz-box-shadow: 0px 3px 70px 8px rgba(23,30,36,0,06);
	box-shadow: 0px 3px 70px 8px rgba(23,30,36,0,06);
}
.work ul {
	position: absolute;
	bottom: 0;
	right: 86%;
}
.work ul li {
	margin-top: 20px;
}


/* - - - - - - - - Project 2 - - - - - - - - */
.work2 {
	width: 100%;
	position: relative;
	margin-bottom: 20em;
}
.work2 > .workText {
	position: absolute;
	top: 85px;
	right: 0;
	text-align: right;
}
.work2 > .workText > .underline {
	display: block;
	background-color: #bbbbbb;
	height: 3px;
	width: 61px;
	margin-top: 5px;
	float: right;
}
.work2 > .workImg {
	width: 85%;
	float: left;
	-webkit-box-shadow: 0px 3px 70px 8px rgba(23,30,36,0,06);
	-moz-box-shadow: 0px 3px 70px 8px rgba(23,30,36,0,06);
	box-shadow: 0px 3px 70px 8px rgba(23,30,36,0,06);
}
.work2 ul {
	position: absolute;
	bottom: 0;
	left: 86%;
}
.work2 ul li {
	margin-top: 20px;
}

/* - - - - - - - - Project 2 - - - - - - - - */
.work a, .work2 a {
	text-decoration: none;
	color: #17191A;
}

/* - - - - - - - - Footer - - - - - - - - */
.footer {
	background-image: url(images/Dribble_Blue_Large.png);
	background-repeat: no-repeat;
	background-position: right top;
	background-size: 320px;
	padding-bottom: 7em;
	text-align: center;
}
.footer a {
	color: 027BFF;
	text-decoration: none;
}
.underlineSmall {
	display: block;
	height: 3px;
	width: 41px;
	margin: 5px auto 0 auto;
	background-color: #bbbbbb; 
}
